*
{
	margin: 0;
	padding: 0;
}

html,body
{
	height: 100%;
}

#logotipo
{
	display: inline-block;
	position: relative;
	left: 10%;
	right: auto;
	top: 1%;
	bottom: auto;
	z-index: 1;
	margin: 25px auto;
}

.figure_img
{
	border-radius: 50%;
	width: 150px;
}

.list_order
{
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
	align-items: center;
	height: 100%;
	margin: auto 30px;
	background-color: #d1deef;
	position: absolute;
}

.list
{
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	background-color: #f3f6f9;
	padding: 40px 10px;
}

.list_number
{
	font-size: 65px;
	font-family: 'Poppins', sans-serif;
	color: #627792;
	font-weight: 800;
	margin: auto 25px;
}

h4
{
	font-family: 'Poppins', sans-serif;
	font-size: 28px;
	text-transform: uppercase;
	text-align: left;
	font-weight: 700;
	color: #331e6d;
	margin-bottom: 10px;
}

p
{
	font-family: 'Lato', sans-serif;
	font-size: 18px;
	font-weight: 400;
	text-align: left;
	color: #627792;
}

@media(max-width: 578px)
{
	#logotipo
	{
		position: relative;
		display: block;
		margin: auto auto;
		left: auto;
		right: auto;
		text-align: center;
		margin-bottom: 25px;
	}

	.list_order
	{
		flex-flow: row wrap;
	}

	.list
	{
		flex-flow: row wrap;
	}

	.list_number
	{
		text-align: center;
	}

	h4
	{
		text-align: center;
	}

	p
	{
		text-align: center;
	}
}